@import '$lib/styles/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
	}

	body {
		@apply font-sans text-slate-900 bg-white;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-heading;
	}
}

body {
	font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}